
header {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  
  header > img {
    width: 61px;
    margin-bottom: 0;
    padding-left: 2rem;
  }
  
  header > nav {
    width: 22%;
  }
  
  .menu {
    display: flex;
    gap: 2rem;
    padding: 3px;
    width: 100%;
    list-style: none;
  }
  
  .menu li {
    font-weight: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid transparent;
  }
  
  .menu li:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
  }

  @media (max-width: 1024px) {

    header {
      width: 89%;
      padding-top: 0;

    }
  
    header > img {
      padding-left: 2rem;
    }
  
    header > nav {
      width: 20%;
    }
  
    .menu {
      gap: 2rem; 
    }
  
    .menu li {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }

  }
  
  @media (max-width: 767.98px) {

    header {
      width: 100%;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
    }
  
    header > img {
      margin-bottom: 1rem;
      padding-left: 0;
    }
  
    header > nav {
      width: 100%;
    }
  
    .menu {
      gap: 0;
    }
  
    .menu li {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-top: none;
      border-bottom: 2px solid #f2f2f2;
    }
  
    .menu li:hover {
      border-top: none;
      border-color: var(--main-color);
    }

  }
  